/* PROFILE */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.avatar-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid var(--purple-main);
  padding: 4px;
  margin-bottom: 16px;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.profile .role {
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin-top: 6px;
  line-height: 1.4;
}

/* SOCIAL LINKS */

.links-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.social-links a:hover {
  color: var(--purple-soft);
}

/* MAIN LINKS */

.main-links {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-label {
  font-size: 1.5rem;
  text-align: center;
  color: var(--text-secondary);
  margin-top: 15px;
  margin-bottom: 8px;
}

.link-button {
  position: relative;
  overflow: hidden;

  padding: 14px;
  text-align: center;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.08);
  color: var(--text-main);
  text-decoration: none;
  font-size: 0.9rem;

  transition: transform 0.2s ease;
}

.link-button::before {
  content: "";
  position: absolute;
  inset: 0;

  background: var(--purple-main);
  z-index: 0;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s ease;
}

.link-button span{
  position: relative;
  z-index: 1;
}

.link-button:hover::before,
.link-button:focus-visible::before {
  transform: scaleX(1);
}

.link-button:hover,
.link-button:focus-visible {
  transform: translateY(-2px);
}

.link-button:active::before {
  background: var(--purple-soft);
  transform: scaleX(1);
}